<footer>
    <div class="footer">
      <div class="row">
        <div class="col6">
          <h4>自媒體銀行</h4>
          <p>歡迎來到自媒體銀行，您的自媒體資訊中心。</p>
        </div>
        <div class="col6">
          <h4>聯繫我們</h4>
          <p>如果您有任何問題或意見，請隨時聯繫我們：</p>
          <p>Email: <a href="mailto:a0927418027@gmail.com">a0927418027@gmail.com</a></p>
        </div>
      </div>
    </div>
  </footer>
</body>