<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/header.css">
</head>
<header>
  <div class="wrapper">
    <nav class="navbar">
       <div class="navbarlift">
           <h1 class="logo">自媒體人力銀行</h1>
           <ul>
              <li class="headeritem"><a href="/">自媒體交流區</a></li>
              <li class="headeritem"><a href="/youtuber">網紅接案</a></li>
              <li class="headeritem"><a href="/mcn">廠家發案</a></li>
              <li class="headeritem"><a href="/store">自媒體商店</a></li>
            </ul>
        </div>
          <ul class="navbarright">
            <ul class="navbarright">
              <% if (username) { %>
                <div class="userdrop">
                  <p>歡迎你 <%= username %></p>
                  <img class="useravatar" src="/user/avatar" alt="avatar">
                  <div class="userdropcontent">
                    <a href="/shoppingcart">購物車</a>
                    <a href="/payment">購物清單</a>
                    <a href="/user/profile">設定</a>
                  </div>
                </div>
              <% } else { %>
              <li class="listitem">
                <a href="login">登入/註冊</a>
              </li>                    
              <% } %>
              </ul>
            </ul>
        </nav>
    </div>
</header>