<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <%- include('header') %>
    <div id="main">
        <form action="/login" method="post" id="loginform">
            <label for="username">帳號</label>
            <input type="text" id="username" name="username" placeholder="請輸入帳號" required>
            <label for="password">密碼</label>
            <input type="password" id="password" name="password" placeholder="請輸入密碼" required>
            <button type="submit">登入</button>
        </form>
        <h6 class="create">還沒有帳號？ <a href="/register">點擊我</a>註冊</h6>
    </div>
    <script>
        const checkaccount = document.getElementById('loginform');

        checkaccount.addEventListener('submit', async (event)=>{
            event.preventDefault();

            //獲取值
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            
            const response = await fetch('/login',{
                method: 'POST',
                headers: {
                    'Content-Type':'application/json',
                },
                body: JSON.stringify({username, password})
            });
            
            const data = await response.json();

            if(data.success){
                alert(data.message);
                window.location.href = '/';
            }else{
                alert(data.message);
            }
        })
    </script>
</body>
<%- include('footer') %>
</html>