body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.showform {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 20px;
    cursor: pointer;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
}

.listitem {
    display: inline-block;
    color: white;
}

a {
    text-decoration: none;
}

.showform:hover {
    background-color: darkblue;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
    text-align: center;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 300px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3; 
}

ul {
    list-style: none;
    padding: 0;
}

h2 {
    font-size: 24px;
    color: #333;
}

h3 {
    font-size: 20px;
    color: #007bff;
    margin-top: 10px;
}

p {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}

.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: lightcoral;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.user-info {
    display: flex;
    align-items: center;
    margin: 0 10px 10px 0;
}

.user-info img,
.listitem img{
    margin-right: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

.avatar {
    max-width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
