body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.postlist {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.postlist li {
    flex: 0 0 calc(30% - 20px);
    flex-direction: column; 
    height: 330px;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin-right:15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: lightcoral;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.postheader {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.postheader img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.postheader h3{
    font-size: 18px;
    margin: 0;
}

.postcontent {
    flex: 1;
}

.postcontent h2 {
    font-size: 18px;
    color: #007BFF;
}

.postdetails {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

.smalltext {
    font-size: 14px;
    margin: 0;
}

.contenttext {
    font-size: 16px;
    margin: 0;
}

.contenttext p{
    color: white;
}

.time {
    font-size: 14px;
    text-align: right;
    margin: 0;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
    margin: 0 auto; 
}


label {
    display: block;
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    max-width: 400px;
    margin: 100px auto; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.showform {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 20px;
    cursor: pointer;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white; 
}

.showform:hover {
    background-color: darkblue;
}